#kontakt {
    background-image: url("https://i.pinimg.com/564x/e5/2d/25/e52d25d8e7b8f2bfb6bc60a026c3792f.jpg");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    right: 0;
    background-size: cover;
    transform: translate(0%, -100%);
    top: 100%;
    position: fixed;
}
#obrProfilovka{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

#addInstructorButton {
    margin: 5pt;
    padding: 5pt;
    background-color: cornflowerblue;
}

#paragrafText {
    background-color: aliceblue;
    background-size: cover;
    background-origin: border-box;
    border: black;
    padding: 5%;
}
#obrazok {
    background-size: cover;
    width: 50%;
    left: 50%;
    transform: translateX(50%);
}
#obrazok2 {
    background-size: cover;
    width: 100%;

}
#aboutUs{
    font-size: xx-large;
    font-weight: 600;
    color: rebeccapurple;
}

ul li{
    color: midnightblue;
}
body{
    background-image: url("https://i.pinimg.com/564x/21/86/06/21860637492fd5b48ed1f5eac45a51ff.jpg");
    background-repeat: repeat;
    background-origin: border-box;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

#createButton {
    margin: 15pt;
    padding-left: 20pt;
    padding-right: 20pt;
    background: #3f9ae5;
}

#reviewAuthor {
    font-size: x-large;
    line-height: 2;
    font-weight: 600;
}

#deleteButton {
    padding: initial;
    padding-left: 10pt;
    padding-right: 10pt;
    background: #e9605c;
}

#editButton {
    padding: initial;
    padding-left: 10pt;
    padding-right: 10pt;
    background: #3f9ae5;
}

#addUserButton {
    margin: 10pt;
    margin-top: 0pt;
}

.mail {
    font-size: x-large;
    text-decoration: underline;
    font-weight: lighter;
}

.messageFont {
    font-size: 10pt;
    font-style: italic;
}

.messageBackround {
    padding: initial;
    margin: initial;
    background: powderblue;
    border-block-width: revert;
}
.writeAMessage {
    background: lightslategrey;
    font-size: x-large;
    text-transform: uppercase;
    color: turquoise;
}

.contactInfo {
    background: whitesmoke;
    border: 10px black;
}


.popisInstruktor {
    font-size: xx-large;
    font-weight: 100;
    text-align: revert;
}

.menoInstructor {
    font-weight: bolder;
    color: teal;
}
